---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Chemtechについて";
---

<Layout title={pageTitle}>
	<main>
		<h1>{pageTitle}</h1>
		<h2>本サイトについて</h2>

		<p>試験中。随時更新予定。</p>
	</main>
</Layout>

<style>
</style>
