---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "トップページ";
---

<Layout title={pageTitle}>
	<main>
		<h1>{pageTitle}</h1>
		<h2>試験中</h2>

		<p>公開に向けて準備中です。</p>
	</main>
</Layout>

<style>
</style>
