---
import { Image } from 'astro:assets';
import xIcon from "./images/x-logo.png";
import youtubeIcon from "./images/youtube-logo.png";
import githubIcon from "./images/github-logo.svg";
---

<footer>
    <div class="footer">
        <div class="social">
            <a href={`https://www.x.com/_chemtech`}><Image src={xIcon} alt=`xのロゴ` width="50" height="50"/></a>
            <a href={`https://www.youtube.com/channel/UCFVBhZcKz2UelMbmkbQz0Nw`}><Image src={youtubeIcon} alt=`youtubeのロゴ` width="50" height="50"/></a>
            <a href={`https://www.github.com/ChemtechSci`}><Image src={githubIcon} alt=`githubのロゴ` width="50" height="50"/></a>
        </div>
        <small class="copy">&copy;Copyright Chemtech. All rights reserved.</small>
    </div>
</footer>

<style>
    .footer {
        margin-top: 0.5rem;
        padding: 1rem;
        color: #c9cbcd;
        border-top: 0.01em solid #c9cdcd;
        display:flex;
        flex-flow: column;
    }
    .social, .copy {
        margin: auto;
        justify-content: center 
    }
</style>