---
import Social from './Social.astro';
---

<footer>
    <div class="footer">
        <Social platform="x" username="_chemtech" />
        <Social platform="youtube" username="chemtech4278" />
        <Social platform="github" username="ChemtechSci" />
        <small>&copy;Copyright Chemtech. All rights reserved.</small>
    </div>
</footer>

<style>
    .footer {
        color: #c9cbcd;
        border-top: 0.01em solid #c9cdcd;
    }
</style>