---
import Social from './Social.astro';
---

<footer>
    <div class="footer">
        <div class="social">
            <Social platform="x" username="_chemtech" />
            <Social platform="youtube" username="channel/UCFVBhZcKz2UelMbmkbQz0Nw" />
            <Social platform="github" username="ChemtechSci" />
        </div>
        <small class="copy">&copy;Copyright Chemtech. All rights reserved.</small>
    </div>
</footer>

<style>
    .footer {
        margin-top: 0.5em;
        padding: 1rem;
        color: #c9cbcd;
        border-top: 0.01em solid #c9cdcd;
        display:flex;
        flex-flow: column;
    }
    .social, .copy {
        margin: auto;
        justify-content: center 
    }
</style>