---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---
<header>
  <nav>
    <div class="title">
      <div class="non-hamburger"></div>
      <a href="https://chemtechsci.github.io">Chemtech</a>
      <Hamburger />
    </div>
    <div class="nav">
      <Navigation />
    </div>
  </nav>
</header>

<style>
</style>